<!DOCTYPE html>
<html lang="ru" class="html-not-found">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Доска объявлений — современный веб-сайт, упрощающий продажу или покупку абсолютно любых вещей.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Куплю Продам</title>
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="icon" href="img/favicon.ico">
</head>
<body class="body-not-found">

  <main>

  </main>

  <script src="js/vendor.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
